body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li > a {
    text-decoration: none;
    color: black;
}