body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
    padding-right: 50px;
}

div {
    display: flex;
    justify-content: space-between;
}

.game-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0%;
    padding-top: 20px;
    width: 350px;
}

li > a {
    text-decoration: none;
    color: black;
}


li > a:h {
    text-decoration: none;
    color: black;
}